In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
diversity_csv = "diversity.csv"
diversity_df = pd.read_csv(diversity_csv)
diversity_df.head()

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013"
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9

In [3]:
new_df = diversity_df

In [4]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3195 entries, 0 to 3194
Data columns (total 9 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Location                                                    3195 non-null   object
 1   Diversity-Index                                             3195 non-null   float64
 2   Black or African American alone, percent, 2013              3195 non-null   float64
 3   American Indian and Alaska Native alone, percent, 2013      3195 non-null   float64
 4   Asian alone, percent, 2013                                  3195 non-null   float64
 5   Native Hawaiian and Other Pacific Islander alone, percent,  3195 non-null   float64
 6   Two or More Races, percent, 2013                            3195 non-null   float64
 7   Hispanic or Latino, percent, 2013                           3195 non-null   float64
 8   White alone, not Hispanic or Latino, percent, 2013          3195 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.8+ KB

In [5]:
new_df['County'],new_df['State'] = diversity_df['Location'].str.split(", ").str

C:\Users\mnoori\AppData\Local\Temp/ipykernel_9876/2755026676.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  new_df['County'],new_df['State'] = diversity_df['Location'].str.split(", ").str

In [6]:
new_df2 = pd.DataFrame({"Diversity-Index":new_df.groupby(["State","County"])["Diversity-Index"].mean(),
                       "Black":new_df.groupby(["State","County"])["Black or African American alone, percent, 2013"].mean(),
                       "American Indian":new_df.groupby(["State","County"])["American Indian and Alaska Native alone, percent, 2013"].mean(),
                       "Asian":new_df.groupby(["State","County"])["Asian alone, percent, 2013"].mean(),
                       "Native Hawaiian":new_df.groupby(["State","County"])["Native Hawaiian and Other Pacific Islander alone, percent,"].mean(),
                       "Two or More Races":new_df.groupby(["State","County"])["Two or More Races, percent, 2013"].mean(),
                       "Hispanic/ Latino":new_df.groupby(["State","County"])["Hispanic or Latino, percent, 2013"].mean(),
                       "White":new_df.groupby(["State","County"])["White alone, not Hispanic or Latino, percent, 2013"].mean()})

In [7]:
unemp_df = pd.read_csv('output.csv')

In [8]:
unemp_df = unemp_df[['County', "State", 'Rate']]

In [9]:
us_state_abbrev = {
   'Alabama': 'AL',
   'Alaska': 'AK',
   'Arizona': 'AZ',
   'Arkansas': 'AR',
   'California': 'CA',
   'Colorado': 'CO',
   'Connecticut': 'CT',
   'Delaware': 'DE',
   'Florida': 'FL',
   'Georgia': 'GA',
   'Hawaii': 'HI',
   'Idaho': 'ID',
   'Illinois': 'IL',
   'Indiana': 'IN',
   'Iowa': 'IA',
   'Kansas': 'KS',
   'Kentucky': 'KY',
   'Louisiana': 'LA',
   'Maine': 'ME',
   'Maryland': 'MD',
   'Massachusetts': 'MA',
   'Michigan': 'MI',
   'Minnesota': 'MN',
   'Mississippi': 'MS',
   'Missouri': 'MO',
   'Montana': 'MT',
   'Nebraska': 'NE',
   'Nevada': 'NV',
   'New Hampshire': 'NH',
   'New Jersey': 'NJ',
   'New Mexico': 'NM',
   'New York': 'NY',
   'North Carolina': 'NC',
   'North Dakota': 'ND',
   'Ohio': 'OH',
   'Oklahoma': 'OK',
   'Oregon': 'OR',
   'Pennsylvania': 'PA',
   'Rhode Island': 'RI',
   'South Carolina': 'SC',
   'South Dakota': 'SD',
   'Tennessee': 'TN',
   'Texas': 'TX',
   'Utah': 'UT',
   'Vermont': 'VT',
   'Virginia': 'VA',
   'Washington': 'WA',
   'West Virginia': 'WV',
   'Wisconsin': 'WI',
   'Wyoming': 'WY',
}

In [10]:
for key, value in us_state_abbrev.items():
    unemp_df.loc[unemp_df['State']==key,'State'] = value

In [11]:
unemp_df_new = pd.DataFrame({"Unemployment Rate":unemp_df.groupby(["State","County"])["Rate"].mean()})

In [12]:
unemp_df_new.head()

                      Unemployment Rate
State County
AL    Autauga County             5.7550
      Baldwin County             6.0175
      Barbour County             9.5925
      Bibb County                7.1725
      Blount County              5.9900

In [13]:
median_inc = pd.read_csv('medianIncomeByCountry.csv')

In [14]:
median_inc = median_inc[['County',"State Code", 'Population',"Median household income"]]
median_inc.head()

           County State Code  Population  Median household income
0  Autauga County         AL       55221                  51281.0
1  Baldwin County         AL      195121                  50254.0
2  Barbour County         AL       26932                  32964.0
3     Bibb County         AL       22604                  38678.0
4   Blount County         AL       57710                  45813.0

In [15]:
median_inc = median_inc.rename(columns={"State Code": "State"})

In [16]:
median_inc_new = pd.DataFrame({"Median household income":median_inc.groupby(["State","County"])["Median household income"].mean(),
                              "Population":median_inc.groupby(["State","County"])["Population"].sum()})

In [17]:
merged = pd.merge(unemp_df_new,median_inc_new, on=["State",'County'],how="inner")

merged.head()

In [18]:
merged.head()

                      Unemployment Rate  Median household income  Population
State County
AL    Autauga County             5.7550                  51281.0       55221
      Baldwin County             6.0175                  50254.0      195121
      Barbour County             9.5925                  32964.0       26932
      Bibb County                7.1725                  38678.0       22604
      Blount County              5.9900                  45813.0       57710

In [19]:
merged2 = pd.merge(merged,new_df2, on=["State",'County'],how="inner")

In [20]:
merged_final = merged2.reset_index()

In [21]:
merged_final.head()

,State,County,Unemployment Rate,Median household income,Population,Diversity-Index,Black,American Indian,Asian,Native Hawaiian,Two or More Races,Hispanic/ Latino,White
0,AL,Autauga County,5.7550,51281.0,55221,0.388898,18.4,0.5,1.1,0.1,1.7,2.7,75.9
1,AL,Baldwin County,6.0175,50254.0,195121,0.297942,9.5,0.7,0.9,0.1,1.5,4.6,83.1
2,AL,Barbour County,9.5925,32964.0,26932,0.556605,47.6,0.6,0.5,0.2,0.9,4.8,46.3
3,AL,Bibb County,7.1725,38678.0,22604,0.394100,22.1,0.4,0.2,0.1,0.9,2.1,74.6
4,AL,Blount County,5.9900,45813.0,57710,0.221056,1.8,0.6,0.3,0.1,1.1,8.7,87.8

In [22]:
merged_final = merged_final[["State","County","Population","Median household income","Unemployment Rate",
                            "Diversity-Index","White","Black","Hispanic/ Latino","Asian","American Indian",
                            "Native Hawaiian","Two or More Races"]]

In [23]:
merged_final

,State,County,Population,Median household income,Unemployment Rate,Diversity-Index,White,Black,Hispanic/ Latino,Asian,American Indian,Native Hawaiian,Two or More Races
0,AL,Autauga County,55221,51281.0,5.7550,0.388898,75.9,18.4,2.7,1.1,0.5,0.1,1.7
1,AL,Baldwin County,195121,50254.0,6.0175,0.297942,83.1,9.5,4.6,0.9,0.7,0.1,1.5
2,AL,Barbour County,26932,32964.0,9.5925,0.556605,46.3,47.6,4.8,0.5,0.6,0.2,0.9
3,AL,Bibb County,22604,38678.0,7.1725,0.394100,74.6,22.1,2.1,0.2,0.4,0.1,0.9
4,AL,Blount County,57710,45813.0,5.9900,0.221056,87.8,1.8,8.7,0.3,0.6,0.1,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,WY,Sweetwater County,44772,69022.0,4.8950,0.340296,79.6,1.7,15.9,0.9,1.2,0.2,1.7
2802,WY,Teton County,22311,75325.0,4.3225,0.325230,80.7,1.5,15.1,1.3,1.0,0.1,1.5
2803,WY,Uinta County,20930,56569.0,5.2650,0.225552,87.5,0.8,9.1,0.4,1.3,0.2,1.7
2804,WY,Washakie County,8400,47652.0,4.4875,0.296868,82.6,0.8,14.2,0.7,1.7,0.1,1.7
2805,WY,Weston County,7152,57738.0,3.9275,0.147697,92.2,0.6,3.8,0.3,1.7,0.0,2.1

In [24]:
merged_final_sql = merged_final.rename(columns={"Median household income":"MedianHouseHoldIncome",
                                               "Unemployment Rate":"UnemploymentRate",
                                               "Diversity-Index":"DiversityIndex",
                                               "Hispanic/ Latino":"Hispanic",
                                               "American Indian":"AmericanIndian",
                                               "Native Hawaiian":"NativeHawaiian",
                                               "Two or More Races":"TwoOrMore"})

In [25]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [26]:
engine = create_engine("mysql://root:Hellogmail@localhost/ETL")

In [27]:
merged_final_sql.to_sql(name='counties', con=engine, if_exists='append', index=False)

OperationalError: (pymysql.err.OperationalError) (1364, "Field 'rnum' doesn't have a default value")
[SQL: INSERT INTO counties (`State`, `County`, `Population`, `MedianHouseHoldIncome`, `UnemploymentRate`, `DiversityIndex`, `White`, `Black`, `Hispanic`, `Asian`, `AmericanIndian`, `NativeHawaiian`, `TwoOrMore`) VALUES (%(State)s, %(County)s, %(Population)s, %(MedianHouseHoldIncome)s, %(UnemploymentRate)s, %(DiversityIndex)s, %(White)s, %(Black)s, %(Hispanic)s, %(Asian)s, %(AmericanIndian)s, %(NativeHawaiian)s, %(TwoOrMore)s)]
[parameters: ({'State': 'AL', 'County': 'Autauga County', 'Population': 55221, 'MedianHouseHoldIncome': 51281.0, 'UnemploymentRate': 5.755, 'DiversityIndex': 0.388898, 'White': 75.9, 'Black': 18.4, 'Hispanic': 2.7, 'Asian': 1.1, 'AmericanIndian': 0.5, 'NativeHawaiian': 0.1, 'TwoOrMore': 1.7}, {'State': 'AL', 'County': 'Baldwin County', 'Population': 195121, 'MedianHouseHoldIncome': 50254.0, 'UnemploymentRate': 6.0175, 'DiversityIndex': 0.297942, 'White': 83.1, 'Black': 9.5, 'Hispanic': 4.6, 'Asian': 0.9, 'AmericanIndian': 0.7, 'NativeHawaiian': 0.1, 'TwoOrMore': 1.5}, {'State': 'AL', 'County': 'Barbour County', 'Population': 26932, 'MedianHouseHoldIncome': 32964.0, 'UnemploymentRate': 9.5925, 'DiversityIndex': 0.556605, 'White': 46.3, 'Black': 47.6, 'Hispanic': 4.8, 'Asian': 0.5, 'AmericanIndian': 0.6, 'NativeHawaiian': 0.2, 'TwoOrMore': 0.9}, {'State': 'AL', 'County': 'Bibb County', 'Population': 22604, 'MedianHouseHoldIncome': 38678.0, 'UnemploymentRate': 7.172499999999999, 'DiversityIndex': 0.3941, 'White': 74.6, 'Black': 22.1, 'Hispanic': 2.1, 'Asian': 0.2, 'AmericanIndian': 0.4, 'NativeHawaiian': 0.1, 'TwoOrMore': 0.9}, {'State': 'AL', 'County': 'Blount County', 'Population': 57710, 'MedianHouseHoldIncome': 45813.0, 'UnemploymentRate': 5.99, 'DiversityIndex': 0.221056, 'White': 87.8, 'Black': 1.8, 'Hispanic': 8.7, 'Asian': 0.3, 'AmericanIndian': 0.6, 'NativeHawaiian': 0.1, 'TwoOrMore': 1.1}, {'State': 'AL', 'County': 'Bullock County', 'Population': 10678, 'MedianHouseHoldIncome': 31938.0, 'UnemploymentRate': 8.27, 'DiversityIndex': 0.455794, 'White': 22.2, 'Black': 69.9, 'Hispanic': 7.8, 'Asian': 0.3, 'AmericanIndian': 0.8, 'NativeHawaiian': 0.8, 'TwoOrMore': 1.0}, {'State': 'AL', 'County': 'Butler County', 'Population': 20354, 'MedianHouseHoldIncome': 32229.0, 'UnemploymentRate': 8.205, 'DiversityIndex': 0.52337, 'White': 53.5, 'Black': 43.6, 'Hispanic': 1.2, 'Asian': 1.0, 'AmericanIndian': 0.4, 'NativeHawaiian': 0.0, 'TwoOrMore': 0.7}, {'State': 'AL', 'County': 'Calhoun County', 'Population': 116648, 'MedianHouseHoldIncome': 41703.0, 'UnemploymentRate': 7.515000000000001, 'DiversityIndex': 0.420387, 'White': 73.1, 'Black': 20.9, 'Hispanic': 3.5, 'Asian': 0.8, 'AmericanIndian': 0.5, 'NativeHawaiian': 0.1, 'TwoOrMore': 1.6}  ... displaying 10 of 2806 total bound parameter sets ...  {'State': 'WY', 'County': 'Washakie County', 'Population': 8400, 'MedianHouseHoldIncome': 47652.0, 'UnemploymentRate': 4.4875, 'DiversityIndex': 0.296868, 'White': 82.6, 'Black': 0.8, 'Hispanic': 14.2, 'Asian': 0.7, 'AmericanIndian': 1.7, 'NativeHawaiian': 0.1, 'TwoOrMore': 1.7}, {'State': 'WY', 'County': 'Weston County', 'Population': 7152, 'MedianHouseHoldIncome': 57738.0, 'UnemploymentRate': 3.9274999999999998, 'DiversityIndex': 0.147697, 'White': 92.2, 'Black': 0.6, 'Hispanic': 3.8, 'Asian': 0.3, 'AmericanIndian': 1.7, 'NativeHawaiian': 0.0, 'TwoOrMore': 2.1})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
import sqlalchemy

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=mysql://root:Hellogmail@localhost/etl

In [ ]:
%sql select * from counties group by county ;